@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');
*{
    font-family: 'Maven Pro', sans-serif;
}
body{
    background-color: burlywood;
    height: 100vh;
    display:flex;
    justify-content:center;
}
  .container{
      background-color: white;
      width: 700px;
      display:flex;
      flex-direction: column;
      padding: 50px;
      border-radius: 20px;
      align-self: center;
  }
  .row{
      display: flex;
      flex-direction: row;
  }
  .col{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items:center;
  }
  .container > .row{
      justify-content: space-evenly;
      width:100%;
  }
  .profile{
      border-radius: 50%;
      border: 2px solid black;
  }
  .round-runs{
      font-size: xx-large;
      width: 200px;
      justify-content: space-evenly;
  }
  #striker-button{
      width: 300px;
      border-radius:25%;
      border:none;
      font-size: large;
      color:black;
      background:linear-gradient(135deg,orange,red);
  }
  #striker-button{
      box-shadow: 0 0 10px 0 black;
  }
  .score{
      margin:-80px 0 0;
      font-size: xx-large;
      color: black;
  }
  .score>span{
      margin: 0 5px;
  } 
  #result{
    margin-top:50px;
    background: linear-gradient(135deg,red,yellow);
    text-transform: uppercase;
    font-size:xx-large ;
    font-weight: bold;
    background-clip:text;
  }